synced_users:
  debbie:
    uid: 1011
    device-id: AAAAA-BBBBB-CCCCC-......

synced_dirs:
  Documents:
    folder-id: r$3.......secure-folder-key
  Mobile/DCIM:
    folder-id: a4$.....secure-folder-key
